
:root {
    --bs-body-bg:  rgb(247, 228, 231);
    --bs-body-bg-rgb: 247, 228, 231;
    --bs-primary-rgb: 243, 117, 138;
}

.btn-primary {
    --bs-btn-bg: rgb(243, 117, 138);
    --bs-btn-border-color: rgb(243, 117, 138);
    --bs-btn-hover-bg: rgb(239, 76, 103);
    --bs-btn-hover-border-color: rgb(239, 76, 103);
    --bs-btn-active-bg: rgb(239, 76, 103);
    --bs-btn-active-border-color: rgb(239, 76, 103);
}
